.label {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875rem;
  text-align: center;
}

.error {
  composes: label;
  color: red;
}

.success {
  composes: label;
  color: var(--green9);
}

.sending {
  composes: label;
  color: var(--blue9);
}
