@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/blue.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
